html, body{
    max-width: 100%;
    overflow-x: hidden;
}
.mainWrap {
    font-family: roboto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    #titleCard {
        background-color: #F9C644;
        width: 100%;
        font-weight: 200;
        min-height: 100vh;
        height: 70vh;
        display: flex;
        color: white;
        position: relative;
        min-height: 50%;
        align-items: center;
        .heroImg {
            height: 100%;
            width: 100%;
            opacity: .4;
            position: absolute;
        }
        #flexedTitle {
            position: relative;
            font-size: 4em;
            margin: 0 auto;
        }
    }
    #committees {
        width: 100%;
        color: white;
        background-color: #C468A7;
        height: 70vh;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        font-size: 1.25em;
        #billSectionImg {
            opacity: .4;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
    #moneyEarned {
        height: 20vh;
        width: 100%;
        background-color: #9E9E9E;
        font-size: 2em;
        font-weight: 100;
        color: white;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        p {
            margin: 0 auto;
        }
    }
    #bottomSpacer {
        width: 100%;
        height: 15%;
    }
    #graphMoney {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70vh;
        min-height: 100%;
        align-items: center;
        min-width: 300px;
        width: 100%;
        position: relative;
        #graphImg {
            opacity: .2;
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .graph-cont {
            position: relative;
            margin: 0 auto;
        }
    }
    #twitterFeed {
        #twitImg{
            opacity: .2;
            position: absolute;
            height: 100%;
            width: 100%;
        }
        width: 100%;
        height: 70vh;
        min-height: 500px;
        background-color: #EEEEEE;
        align-items: center;
        min-width: 100%;
        width: 100%;
        position: relative;
        .containTwitter {
            position: relative;
            color: white;
            h3{
                color: white;
            }
            margin: 0 auto;
            .feed {
                position: absolute;
                margin-left: 25%;
                width: 100%;
            }
            h5 {
                margin: 0 auto;
            }
        }
    }
    .spacer {
        width: 100%;
        height: 15%;
    }
    .colorStuff {
        color: white;
        margin: 0 auto;
    }
}

nav {
    background-color: #2C3E50;
    li {
        color: white;
    }
    .searchedFor {
        margin-left: 3%;
    }
}