.committeeSlides{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.25em;
    background-color: #9E9E9E;
	.leftCommittees{
		color: white;
		width: 40%;
		height: 100%;
		vertical-align: middle;
		h5{
			font-weight: 100;
			margin-left: 5%;
		}
	}
	.rightCommittees{
		width: 60%;
	}
}
