.billLists{
		color: white;
		position: relative;
		margin: 0 auto;
		h3{
			margin-bottom: 5%;
			color: white;
			font-weight: 100;
		}
		a{
			color: white;
		}
		a:hover{
			font-style: underline;
		}
}

#billTarget{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 50%;
	margin: 0 auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 1.25em;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
	li{
		list-style: none;
		margin-left: 5%;

	}
}
