.billLists{
		color: white;
		position: relative;
		margin: 0 auto;
		h3{
			margin-bottom: 5%;
			color: white;
			font-weight: 100;
		}
		a{
			color: white;
		}
		a:hover{
			font-style: underline;
		}
}

#billTarget{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: 0 auto;
	align-items: center;
	font-size: 1.25em;
  justify-content: space-around;
	li{
		list-style: none;
		margin-left: 5%;

	}
}